.wrapper {

  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.info-container {

  width: 30%;
  height: 50vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.info {

  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}